@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ark Pixel';
    src: url('/fonts/ark-pixel-16-prop/ark-pixel-16px-proportional-zh_cn.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Stream Quest Styles */
body {
    margin: 0;
    padding: 0;
}